force-app/main/default/flows/Account_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign Transaction Type To Deposit</description>
        <name>Assign_Transaction_Type_To_Deposit</name>
        <label>Assign Transaction Type To Deposit</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>TransactionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deposit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_To_Transaction_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Transaction Type To Withdrawal</description>
        <name>Assign_Transaction_Type_To_Withdrawal</name>
        <label>Assign Transaction Type To Withdrawal</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>TransactionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Withdrawal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_To_Transaction_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning all values to transaction record</description>
        <name>Assign_Values_To_Transaction_Record</name>
        <label>Assign Values To Transaction Record</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>SingleTransaction.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransaction.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransaction.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransactionAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransaction.Closing_Balance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Wallet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleTransaction.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>check if the transaction is type deposit or withdrawal</description>
        <name>Check_For_Transaction_Type</name>
        <label>Check For Transaction Type</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SignedTransactionAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Transaction_Type_To_Deposit</targetReference>
            </connector>
            <label>Deposit</label>
        </rules>
        <rules>
            <name>Withdrawal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SignedTransactionAmount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Transaction_Type_To_Withdrawal</targetReference>
            </connector>
            <label>Withdrawal</label>
        </rules>
    </decisions>
    <description>This flow will run after account is updated</description>
    <environments>Default</environments>
    <formulas>
        <description>The transaction amount with sign</description>
        <name>SignedTransactionAmount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Wallet__c} - {!$Record__Prior.Wallet__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Today&apos;s Date</description>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Store the actual amount of transaction</description>
        <name>TransactionAmount</name>
        <dataType>Number</dataType>
        <expression>ABS({!$Record.Wallet__c} - {!$Record__Prior.Wallet__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Account : After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account : After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Transaction Record</description>
        <name>Create_Transaction_Record</name>
        <label>Create Transaction Record</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <inputReference>SingleTransaction</inputReference>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_For_Transaction_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Wallet__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>This will store the single transaction record</description>
        <name>SingleTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <description>Store the transaction type</description>
        <name>TransactionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
