force-app/main/default/flows/Booked_Date_Create_or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>This will add the record to collection</description>
        <name>Add_To_Update_Booked_Slot_Data_Collection</name>
        <label>Add To Update Booked Slot Data Collection</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>updateDataCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Booked_Records_to_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Booked_Records_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will add the record to collection</description>
        <name>Add_To_Update_Booked_Slot_Data_Collection_In_Upsert</name>
        <label>Add To Update Booked Slot Data Collection In Upsert</label>
        <locationX>3658</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>updateDataCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Booked_Records_to_Upsert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCheckinDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentIterationCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Booked_Records_to_Upsert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign False to result</description>
        <name>Assign_False_to_result_in_Insert</name>
        <label>Assign False to result in Insert</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>This will assign false to resultr</description>
        <name>Assign_False_to_result_In_Update</name>
        <label>Assign False to result In Update</label>
        <locationX>402</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign False to result</description>
        <name>Assign_False_to_result_in_Upsert_Insert</name>
        <label>Assign False to result in Upsert Insert</label>
        <locationX>3130</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign False to result</description>
        <name>Assign_False_to_result_in_Upsert_Remaining</name>
        <label>Assign False to result in Upsert Remaining</label>
        <locationX>2844</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign False to result</description>
        <name>Assign_False_to_result_In_Upsert_Update</name>
        <label>Assign False to result In Upsert Update</label>
        <locationX>3922</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_single_record_to_insert_into_record_collection</name>
        <label>assign single record to insert into record collection</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SingleBookDate.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentCheckinDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBookDate.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentCheckoutDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBookDate.Hotel_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hotelProductIdFromParent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBookDate.Booked_Slots__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>slotsToBook</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insertDataCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBookDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBookDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCheckinDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentIterationCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>checkCureentIterationNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is used to create new record of the Booked Dates.</description>
        <name>assign_single_record_to_insert_into_record_collection_for_extra_Records</name>
        <label>assign single record to insert into record collection for extra Records</label>
        <locationX>2316</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>SingleBookDate.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentCheckinDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBookDate.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentCheckoutDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBookDate.Hotel_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hotelProductIdFromParent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBookDate.Booked_Slots__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>slotsToBook</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>insertDataCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBookDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBookDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCheckinDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentIterationCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>checkCurentIterationNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>this will create a single record of booked dates and add it to the record collection to insert</description>
        <name>Assign_single_record_to_insert_record_collection</name>
        <label>Assign single record to insert record collection</label>
        <locationX>2866</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>insertDataCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBookDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBookDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentCheckinDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentIterationCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_for_booked_slots_to_insert_or_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>this will update a single record of booked dates and add it to the record collection to update</description>
        <name>Assign_single_record_to_update_record_collection</name>
        <label>Assign single record to update record collection</label>
        <locationX>3922</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Booked_Records_to_Upsert.Booked_Slots__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>slotsToBook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForOverBookingInUpsertUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>this will create a single record of booked dates</description>
        <name>Assign_single_record_values_in_Upsert</name>
        <label>Assign single record values in Upsert</label>
        <locationX>3130</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SingleBookDate.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentCheckinDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBookDate.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentCheckoutDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBookDate.Hotel_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>hotelProductIdFromParent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBookDate.Booked_Slots__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>slotsToBook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForOverBookingInUpsertInInsert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Quantity_To_Variable</name>
        <label>Assign Total Quantity To Variable</label>
        <locationX>1711</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>totalQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Record.Total_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Booked_Date_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign True to result</description>
        <name>Assign_True_to_result_after_Insert</name>
        <label>Assign True to result after Insert</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>This will assign true to result</description>
        <name>Assign_True_to_result_After_Update</name>
        <label>Assign True to result After Update</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign true to result</description>
        <name>Assign_True_to_result_After_Upsert</name>
        <label>Assign True to result After Upsert</label>
        <locationX>2580</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Value_to_Count_Variables</name>
        <label>Assign Value to Count Variables</label>
        <locationX>1711</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>getRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Booked_Date_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Data_is_Available_or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will increase count of booked slots by 1 for each booked record of each day.</description>
        <name>Update_Booked_Slot</name>
        <label>Update Booked Slot</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Booked_Records_to_Update.Booked_Slots__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>slotsToBook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkForOverBookingInUpdate</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>This will sort the collection by date in ascending order</description>
        <name>Sort_Booked_Dates_Records_by_Start_Date_in_Ascending</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Booked Dates Records by Start Date in Ascending</label>
        <locationX>1711</locationX>
        <locationY>458</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Booked_Date_Record</collectionReference>
        <connector>
            <targetReference>Assign_Value_to_Count_Variables</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Start_Date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_Data_is_Available_or_Not</name>
        <label>Check Data is Available or Not</label>
        <locationX>1711</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>updateRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>numberOfDays</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Booked_Records_to_Update</targetReference>
            </connector>
            <label>updateRecords</label>
        </rules>
        <rules>
            <name>createRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkForOverBookingInInsert</targetReference>
            </connector>
            <label>createRecords</label>
        </rules>
        <rules>
            <name>upsertRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRecordCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>numberOfDays</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Booked_Records_to_Upsert</targetReference>
            </connector>
            <label>upsertRecords</label>
        </rules>
    </decisions>
    <decisions>
        <description>this will check if we have to insert the booked slots or update it</description>
        <name>Check_for_booked_slots_to_insert_or_update</name>
        <label>Check for booked slots to insert or update</label>
        <locationX>3526</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_single_record_to_update_record_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>insert</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Booked_Records_to_Upsert.Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>currentCheckinDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Booked_Records_to_Upsert.End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>currentCheckoutDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_single_record_values_in_Upsert</targetReference>
            </connector>
            <label>insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCureentIterationNumber</name>
        <label>checkCureentIterationNumber</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>create_new_insert_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>lessThanNumberOfDays</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfDays</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>currentIterationCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_single_record_to_insert_into_record_collection</targetReference>
            </connector>
            <label>lessThanNumberOfDays</label>
        </rules>
    </decisions>
    <decisions>
        <description>This Decision will check that all the booking dates of the range is covered or not.</description>
        <name>checkCurentIterationNumber</name>
        <label>checkCurentIterationNumber</label>
        <locationX>2448</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Insert_New_Booked_Date_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>lessThanCurrentIterationCount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfDays</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>currentIterationCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_single_record_to_insert_into_record_collection_for_extra_Records</targetReference>
            </connector>
            <label>lessThanCurrentIterationCount</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will check if the total slots after updating is not greater than the actual slots</description>
        <name>checkForOverBookingInInsert</name>
        <label>checkForOverBookingInInsert</label>
        <locationX>776</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>validInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>slotsToBook</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>totalQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkCureentIterationNumber</targetReference>
            </connector>
            <label>validInsert</label>
        </rules>
        <rules>
            <name>invalidInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>slotsToBook</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>totalQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_False_to_result_in_Insert</targetReference>
            </connector>
            <label>invalidInsert</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will check if the total slots after updating is not greater than the actual slots</description>
        <name>checkForOverBookingInUpdate</name>
        <label>checkForOverBookingInUpdate</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>validUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Booked_Records_to_Update.Booked_Slots__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Booked_Records_to_Update.Hotel_Product__r.Total_Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Update_Booked_Slot_Data_Collection</targetReference>
            </connector>
            <label>validUpdate</label>
        </rules>
        <rules>
            <name>invalidUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Booked_Records_to_Update.Booked_Slots__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Iterate_Booked_Records_to_Update.Hotel_Product__r.Total_Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_False_to_result_In_Update</targetReference>
            </connector>
            <label>invalidUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForOverBookingInUpsertInInsert</name>
        <label>checkForOverBookingInUpsertInInsert</label>
        <locationX>3130</locationX>
        <locationY>1106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>validUpsertInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleBookDate.Booked_Slots__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>totalQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_single_record_to_insert_record_collection</targetReference>
            </connector>
            <label>validUpsertInsert</label>
        </rules>
        <rules>
            <name>invalidUpsertInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleBookDate.Booked_Slots__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>totalQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_False_to_result_in_Upsert_Insert</targetReference>
            </connector>
            <label>invalidUpsertInsert</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkForOverBookingInUpsertRemainingRecords</name>
        <label>checkForOverBookingInUpsertRemainingRecords</label>
        <locationX>2778</locationX>
        <locationY>1682</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>validUpsertRemaining</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>slotsToBook</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>totalQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkCurentIterationNumber</targetReference>
            </connector>
            <label>validUpsertRemaining</label>
        </rules>
        <rules>
            <name>invalidUpsertRemaining</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>slotsToBook</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>totalQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_False_to_result_in_Upsert_Remaining</targetReference>
            </connector>
            <label>invalidUpsertRemaining</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will check if the total slots after updating is not greater than the actual slots</description>
        <name>checkForOverBookingInUpsertUpdate</name>
        <label>checkForOverBookingInUpsertUpdate</label>
        <locationX>3922</locationX>
        <locationY>1106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>validUpsertUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Booked_Records_to_Upsert.Booked_Slots__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>totalQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Update_Booked_Slot_Data_Collection_In_Upsert</targetReference>
            </connector>
            <label>validUpsertUpdate</label>
        </rules>
        <rules>
            <name>Copy_1_of_invalidUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Booked_Records_to_Upsert.Booked_Slots__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>totalQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_False_to_result_In_Upsert_Update</targetReference>
            </connector>
            <label>Copy 1 of invalidUpdate</label>
        </rules>
    </decisions>
    <description>This Subflow is Used to Create new record of the Booked Date if that record not exist else update the record.</description>
    <environments>Default</environments>
    <formulas>
        <description>This variable will be used to increase the current slot end date by 1 in insert new booked dates record</description>
        <name>currentCheckoutDate</name>
        <dataType>Date</dataType>
        <expression>{!currentCheckinDate} + 1</expression>
    </formulas>
    <formulas>
        <description>This Variable count days between start date and end Date</description>
        <name>numberOfDays</name>
        <dataType>Number</dataType>
        <expression>{!chekoutDate} - {!chekinDate}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Booked_Date : Assign or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booked_Date : Create or Update</label>
    <loops>
        <description>This loop will iterate over all the records fetched from booked dates.</description>
        <name>Iterate_Booked_Records_to_Update</name>
        <label>Iterate Booked Records to Update</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Booked_Date_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Booked_Slot</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Booked_Dates_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This loop will iterate over all the records fetched from booked dates.</description>
        <name>Iterate_Booked_Records_to_Upsert</name>
        <label>Iterate Booked Records to Upsert</label>
        <locationX>2778</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Booked_Date_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_booked_slots_to_insert_or_update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkForOverBookingInUpsertRemainingRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_new_insert_record</name>
        <label>create new insert record</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assign_True_to_result_after_Insert</targetReference>
        </connector>
        <inputReference>insertDataCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Insert record of Booked Dates.</description>
        <name>Insert_New_Booked_Date_Record</name>
        <label>Insert New Booked Date Record</label>
        <locationX>2580</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Update_Booked_Record</targetReference>
        </connector>
        <inputReference>insertDataCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get all the record of Booked Date</description>
        <name>Get_Booked_Date_Record</name>
        <label>Get Booked Date Record</label>
        <locationX>1711</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Booked_Dates_Records_by_Start_Date_in_Ascending</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hotel_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>hotelProductIdFromParent</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>chekoutDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>chekinDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Booked_Date__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting current Product Record</description>
        <name>Get_Product_Record</name>
        <label>Get Product Record</label>
        <locationX>1711</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Total_Quantity_To_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>hotelProductIdFromParent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This will update the existing record of booked date.</description>
        <name>Update_Booked_Dates_Record</name>
        <label>Update Booked Dates Record</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Assign_True_to_result_After_Update</targetReference>
        </connector>
        <inputReference>updateDataCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Booked Record.</description>
        <name>Update_Booked_Record</name>
        <label>Update Booked Record</label>
        <locationX>2580</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Assign_True_to_result_After_Upsert</targetReference>
        </connector>
        <inputReference>updateDataCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>1585</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>It Store the Check-in Date given from the Parent.</description>
        <name>chekinDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>It Store the value of Check-out Date.</description>
        <name>chekoutDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable will be used to increase the current slot start date by 1 in insert new booked dates record</description>
        <name>currentCheckinDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>chekinDate</elementReference>
        </value>
    </variables>
    <variables>
        <description>This variable holds the current iteration</description>
        <name>currentIterationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>This will store the total number of record from the get Record</description>
        <name>getRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>this will store the id of hotel product passed by parent</description>
        <name>hotelProductIdFromParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is Collection variable which store the record which is not available in the get Record of Booked Date Collection.</description>
        <name>insertDataCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booked_Date__c</objectType>
    </variables>
    <variables>
        <description>this will return true if booking is successful and false if unsuccessful</description>
        <name>result</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SingleBookDate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booked_Date__c</objectType>
    </variables>
    <variables>
        <description>This variable will store the slots to book for the room</description>
        <name>slotsToBook</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totalQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>This Collection store the record which need to update the value of the Booked Slot.</description>
        <name>updateDataCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booked_Date__c</objectType>
    </variables>
</Flow>
