force-app/main/default/flows/Case_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_account_has_email_or_not</name>
        <label>check account has email or not</label>
        <locationX>1172</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEmailAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_custom_web_case_field</targetReference>
            </connector>
            <label>isEmailAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Custom_Web_Email</name>
        <label>Check Custom Web Email</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCustomEmailAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Web_Email_Custom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_When_is_Created_From_the_Email</targetReference>
            </connector>
            <label>isCustomEmailAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Origin</name>
        <label>Check Origin</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isWeb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_on_case_Creation</targetReference>
            </connector>
            <label>isWeb</label>
        </rules>
        <rules>
            <name>isEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_web_email_custom_field</targetReference>
            </connector>
            <label>isEmail</label>
        </rules>
        <rules>
            <name>isCRM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_account_has_email_or_not</targetReference>
            </connector>
            <label>isCRM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Web_Email_Custom</name>
        <label>Check Web Email Custom</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEmailCustom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Web_Email_Custom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_When_the_Case_is_Created_From_the_CRM</targetReference>
            </connector>
            <label>isEmailCustom</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case: After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_custom_web_case_field</name>
        <label>update custom web case field</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_Web_Email_Custom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Web_Email_Custom__c</field>
            <value>
                <elementReference>$Record.Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_web_email_custom_field</name>
        <label>update web email custom field</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_Custom_Web_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Web_Email_Custom__c</field>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Origin</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Email_on_case_Creation</name>
        <label>Send Email on case Creation From Website</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>Case_Send_Email</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Email_When_is_Created_From_the_Email</name>
        <label>Send Email When is Created From the Email</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <flowName>Case_Send_Email</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Email_When_the_Case_is_Created_From_the_CRM</name>
        <label>Send Email When the Case is Created From the CRM</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <flowName>Case_Send_Email</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
