force-app/main/default/flows/case_Escalate_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_status_to_case</name>
        <label>Assign status to case</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Iterate_on_each_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_on_each_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2F005Hr00000IRd7p</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_on_each_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_each_Record</targetReference>
        </connector>
    </assignments>
    <description>This is used for Escalate the case.</description>
    <environments>Default</environments>
    <interviewLabel>case: Escalate Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>case: Escalate Case</label>
    <loops>
        <name>Iterate_on_each_Record</name>
        <label>Iterate on each Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_All_the_Case_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_status_to_case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_Record_with_new_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_the_Case_Record</name>
        <label>Get All the Case Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_on_each_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record_with_new_Status</name>
        <label>Update Case Record with new Status</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <inputReference>caseCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_the_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>singleCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
