force-app/main/default/flows/Custom_Flow_Get_Orders_By_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds the list of orders associated with the given contact record to the ContactOrders variable. This Assignment is a placeholder for enablement purposes and must be reconfigured in order to access your scheduling system.</description>
        <name>AddOrdersToVariable</name>
        <label>Add Orders to Variable</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>orderCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_All_Order_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Order_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines whether the customer has an associated Contact record.</description>
        <name>DoesContactExist</name>
        <label>Contact Exists?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>ContactExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_By_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This Flow will Identify the Contact and than return the list of the order which is related to that contact.</description>
    <environments>Default</environments>
    <interviewLabel>Custom Flow Get Orders By Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Flow Get Orders By Contact</label>
    <loops>
        <name>Iterate_All_Order_Record</name>
        <label>Iterate All Order Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Order_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddOrdersToVariable</targetReference>
        </nextValueConnector>
    </loops>
    <overriddenFlow>SvcCopilotTmpl__GetOrdersByContact</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_By_Email</name>
        <label>Get Contact By Email</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesContactExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Record</name>
        <label>Get Order Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_All_Order_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_By_Email.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_By_Email</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <description>Stores the list of orders associated with a contact record</description>
        <name>ContactOrders</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
