force-app/main/default/flows/Hotel_Products_Minimum_Room_Price.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>This Decision check the new room price is less than current hotel rooms minimum price.</description>
        <name>Check_the_Price_is_Greater_Or_Not</name>
        <label>Check the Price is Greater Or Not</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsGreater</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getRoomRecord.Hotel__r.Price__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>getRoomRecord.Product_Unit_Price__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getRoomRecord.Hotel__r.Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Hotel_Price</targetReference>
            </connector>
            <label>IsGreater</label>
        </rules>
    </decisions>
    <description>This flow is used for find the MInimum room Price and Assign it to Hotel</description>
    <environments>Default</environments>
    <interviewLabel>Hotel Products : Minimum Room Price {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hotel Products : Minimum Room Price</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Hotel Price If Price is Less than Current Price of Hotel Product.</description>
        <name>Update_Hotel_Price</name>
        <label>Update Hotel Price</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRoomRecord.Hotel__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>getRoomRecord.Product_Unit_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>Hotel__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Price_is_Greater_Or_Not</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>It will take Record of the Room From the Parent</description>
        <name>getRoomRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
