force-app/main/default/flows/Order_Product_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Error_For_Over_Booking</name>
        <label>Error For Over Booking</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Room(s) are not available for the entered slots.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>checkForError</name>
        <label>checkForError</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isBookedDatesCreatedOrUpdatedSuccessfully</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>isSuccess</label>
        </rules>
        <rules>
            <name>isError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isBookedDatesCreatedOrUpdatedSuccessfully</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_For_Over_Booking</targetReference>
            </connector>
            <label>isError</label>
        </rules>
    </decisions>
    <description>This flow will run when the record of Order Product is created.</description>
    <environments>Default</environments>
    <interviewLabel>Order Product : After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product : After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_or_Create_The_Record_of_the_Order_Product</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>This sub-flow is used to update and create the record of the Order Item.</description>
        <name>Update_or_Create_The_Record_of_the_Order_Product</name>
        <label>Update or Create The Record of the Order Product</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>checkForError</targetReference>
        </connector>
        <flowName>Booked_Date_Create_or_Update</flowName>
        <inputAssignments>
            <name>chekinDate</name>
            <value>
                <elementReference>$Record.checkin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>chekoutDate</name>
            <value>
                <elementReference>$Record.checkout__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>hotelProductIdFromParent</name>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>slotsToBook</name>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>isBookedDatesCreatedOrUpdatedSuccessfully</assignToReference>
            <name>result</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>hotelProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>check for booked date flow ran successfully or not</description>
        <name>isBookedDatesCreatedOrUpdatedSuccessfully</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
