force-app/main/default/flows/Order_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Invoice_And_Attach_PDF</name>
        <label>Generate Invoice And Attach PDF</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>RES_GenerateInvoicePDFAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_email_to_Person_Account_on_successful_Order_Creation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RES_GenerateInvoicePDFAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>attachmentID</assignToReference>
            <name>contentVersionId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>This action will send the email of successful Order Confirmation to Person Account</description>
        <name>Send_email_to_Person_Account_on_successful_Order_Creation</name>
        <label>Send email to Person Account on successful Order Creation</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Guest_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.OriginalOrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Order_Creation_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentId</name>
            <value>
                <elementReference>attachmentID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>This part will  run after all Order Items are created in an Order</description>
        <name>CheckForWhatIsUpdatedInOrder</name>
        <label>CheckForWhatIsUpdatedInOrder</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsOrderItemsCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsOrderItemsCreated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Invoice_And_Attach_PDF</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IsOrderItemsCreated</label>
        </rules>
        <rules>
            <name>isOrderCanceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Booked_Slots</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>isOrderCanceled</label>
        </rules>
    </decisions>
    <description>This flow run after order is updated</description>
    <environments>Default</environments>
    <interviewLabel>Order : after update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order : After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This will get the lightning email template of Order Creation</description>
        <name>Get_Order_Creation_Email_Template</name>
        <label>Get Order Creation Email Template</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForWhatIsUpdatedInOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order_Creation_1744793411095</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Creation_Email_Template</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>IsOrderItemsCreated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <description>This will update booked Slots on Order Cancelation</description>
        <name>Update_Booked_Slots</name>
        <label>Update Booked Slots</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <flowName>Update_Booked_Slots_On_Order_Cancellation</flowName>
        <inputAssignments>
            <name>orderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>attachmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
