force-app/main/default/flows/Update_Booked_Slots_On_Order_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Subtract_Booked_Slots</name>
        <label>Subtract Booked Slots</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SingleBookedDate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_all_booked_dates_of_product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBookedDate.Booked_Slots__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_all_booked_dates_of_product.Booked_Slots__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBookedDate.Booked_Slots__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Iterate_Through_All_Order_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionBookedDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBookedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBookedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_all_booked_dates_of_product</targetReference>
        </connector>
    </assignments>
    <description>This is the auto launched flow to update booked slots on order cancellation</description>
    <environments>Default</environments>
    <interviewLabel>Update Booked Slots On Order Cancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Booked Slots On Order Cancellation</label>
    <loops>
        <name>Iterate_through_all_booked_dates_of_product</name>
        <label>Iterate through all booked dates of product</label>
        <locationX>352</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Booked_Dates_of_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Subtract_Booked_Slots</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Through_All_Order_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Through_All_Order_Items</name>
        <label>Iterate Through All Order Items</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Booked_Dates_of_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Booked_Slots</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Booked_Dates_of_Product</name>
        <label>Get Booked Dates of Product</label>
        <locationX>352</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_all_booked_dates_of_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hotel_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Through_All_Order_Items.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Iterate_Through_All_Order_Items.checkin__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Iterate_Through_All_Order_Items.checkout__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Booked_Date__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Items</name>
        <label>Get Order Items</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_All_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Booked_Slots</name>
        <label>Update Booked Slots</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <inputReference>CollectionBookedDate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Items</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CheckinDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CheckoutDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionBookedDate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booked_Date__c</objectType>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleBookedDate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booked_Date__c</objectType>
    </variables>
    <variables>
        <name>tempCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
