force-app/main/default/flows/Update_Status_Of_Orders_To_Completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Update Status From Shipped To Delivered</description>
        <name>Update_Status_Of_Order</name>
        <label>Update Status Of Order</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>SingleOrderRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_All_Order_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleOrderRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleOrderRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_All_Order_Records</targetReference>
        </connector>
    </assignments>
    <description>This flow will run everyday to mark each record which is shipped and its checkout date is today</description>
    <environments>Default</environments>
    <formulas>
        <description>Today&apos;s Date</description>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Update Status Of Orders To Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Status Of Orders To Completed</label>
    <loops>
        <name>Iterate_All_Order_Records</name>
        <label>Iterate All Order Records</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Records_Of_Orders_With_Status_As_Shipped_And_Checkout_Date_As_Today</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status_Of_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Orders_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetching Order Records to Update Status</description>
        <name>Get_Records_Of_Orders_With_Status_As_Shipped_And_Checkout_Date_As_Today</name>
        <label>Get Records Of Orders With Status As Shipped And Checkout Date As Today</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_All_Order_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </filters>
        <filters>
            <field>Checkout__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updating All the Order Records</description>
        <name>Update_Orders_Records</name>
        <label>Update Orders Records</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <inputReference>OrderCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records_Of_Orders_With_Status_As_Shipped_And_Checkout_Date_As_Today</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-20</startDate>
            <startTime>11:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Collection Of Orders</description>
        <name>OrderCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <description>To Store the single Order Record</description>
        <name>SingleOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
