force-app/main/default/flows/User_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>It Will check that Profile is Changed or Not.</description>
        <name>Profile_Changed_Or_Not</name>
        <label>Profile Changed Or Not</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ProfileId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_The_Old_Profile_Permission_Set</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <description>This Flow will run after Update for Assign the Permission set to user for new Profile.</description>
    <environments>Default</environments>
    <interviewLabel>User:After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User: After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Profile_Changed_Or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>This subflow will remove the permission set of the old profile and assign new permission set to profile.</description>
        <name>Remove_The_Old_Profile_Permission_Set</name>
        <label>Remove The Old Profile Permission Set</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>User_RemovePermission</flowName>
        <inputAssignments>
            <name>getNewProfileName</name>
            <value>
                <elementReference>$Record.Profile.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>getOldProfileName</name>
            <value>
                <elementReference>$Record__Prior.Profile.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
