force-app/main/default/flows/User_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Value_of_Permission_Set</name>
        <label>Assign Value of Permission Set</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>sendProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Profile.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Permission_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Permission_Set</name>
        <label>Set Permission Set</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>updatedProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Profile.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oldProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Profile.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>userId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Old_Permission_Set_and_Assign_New</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Record_is_Created_Or_Updated</name>
        <label>Check Record is Created Or Updated</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_The_Profile_Is_Changed_Or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Value_of_Permission_Set</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_The_Profile_Is_Changed_Or_Not</name>
        <label>Check The Profile Is Changed Or Not</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Profile.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Permission_Set</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CreateRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>User:After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User:After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_is_Created_Or_Updated</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Assign_Permission_set</name>
        <label>Assign Permission set</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <flowName>User_AssignPermission</flowName>
        <inputAssignments>
            <name>getProfileName</name>
            <value>
                <elementReference>sendProfile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sendProfile</assignToReference>
            <name>getProfileName</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Remove_Old_Permission_Set_and_Assign_New</name>
        <label>Remove Old Permission Set and Assign New</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <flowName>User_RemovePermission</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>oldProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sendProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updatedProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
