force-app/main/default/flows/User_RemovePermission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_3</name>
        <label>Old Permission Set Assignment is Available or Not</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Permission_Set_for_New_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Permission_Set_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Assigned_Permission_Set</targetReference>
            </connector>
            <label>Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Old_Permission_Set_available_or_not</name>
        <label>Old Permission Set available or not</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Permission_Set_for_New_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsOldAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Permission_Set.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Old_Permission_Set_Assignment</targetReference>
            </connector>
            <label>IsOldAvailable</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>getNewPermissionSetFromProfile</name>
        <dataType>String</dataType>
        <expression>CASE({!getNewProfileName},
          &quot;Hotel Experience&quot;, &quot;Hotel_Manager&quot;, 
           &quot;Community User RES&quot;, &quot;Community_User&quot;,
           &quot;System Admin RES&quot;,&quot;System_Admin_Permissions&quot;,
           &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>getOldPermissionSetFromProfile</name>
        <dataType>String</dataType>
        <expression>CASE({!getOldProfileName},
          &quot;Hotel Experience&quot;, &quot;Hotel_Manager&quot;, 
           &quot;Community User RES&quot;, &quot;Community_User&quot;,
           &quot;System Admin RES&quot;,&quot;System_Admin_Permissions&quot;,
           &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>User:RemovePermission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User: Remove Permission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Assigned_Permission_Set</name>
        <label>Delete Assigned Permission Set</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Permission_Set_for_New_Profile</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error_While_Getting_Old_Permission_Set</targetReference>
        </faultConnector>
        <inputReference>Get_Old_Permission_Set_Assignment</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Old_Permission_Set</name>
        <label>Get Old Permission Set</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Old_Permission_Set_available_or_not</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Error_While_Getting_Old_Permission_Set</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOldPermissionSetFromProfile</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Permission_Set_Assignment</name>
        <label>Get Old Permission Set Assignment</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_3</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error_While_Getting_Old_Permission_Set</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Old_Permission_Set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Permission_Set_for_New_Profile</name>
        <label>Assign Permission Set for New Profile</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <flowName>User_AssignPermission</flowName>
        <inputAssignments>
            <name>getProfileName</name>
            <value>
                <elementReference>getNewProfileName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Logs the error occurred while getting the old permission set.</description>
        <name>Log_Error_While_Getting_Old_Permission_Set</name>
        <label>Log Error While Getting Old Permission Set</label>
        <locationX>1194</locationX>
        <locationY>242</locationY>
        <flowName>Error_Logger_Create_Error_Record</flowName>
        <inputAssignments>
            <name>errorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>errorName</name>
            <value>
                <elementReference>currentFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>errorObject</name>
            <value>
                <elementReference>currentObjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>errorOwnerId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>currentFlowName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;User: Remove Permission&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>currentObjectName</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;User&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>getNewProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>getOldProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MatchingPermissionSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
